@model SofaOnSofa.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "Checkout";
}

<h2>Оплатить сейчас</h2>
Пожалуйста введите данные для доставки.
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <h3>Отправить в</h3>
    <div>Имя: @Html.EditorFor(x => x.Name)</div>

    <h3>Адрес</h3>
    <table>
        <tr>
            <td>Улица:</td>
            <td>@Html.EditorFor(x => x.Street)</td>
        </tr>
        <tr>
            <td>Дом:</td>
            <td>@Html.EditorFor(x => x.House)</td>
        </tr>
        <tr>
            <td>Подъезд:</td>
            <td>@Html.EditorFor(x => x.Entrance)</td>
        </tr>
        <tr>
            <td>Страна:</td>
            <td>@Html.EditorFor(x => x.Country)</td>
        </tr>
        <tr>
            <td>Регион\Область:</td>
            <td>@Html.EditorFor(x => x.Region)</td>
        </tr>
        <tr>
            <td>Город:</td>
            <td>@Html.EditorFor(x => x.City)</td>
        </tr>
    </table>

    <h3>Опции</h3>
    <label>
        @Html.EditorFor(x => x.PaidDelivery)
        Платная доставка
    </label>

    <p align="center">
        <input class="actionButtons" type="submit" value="Завершить заказ"
    </p>
}

